.*
!.htaccess
!.gitignore
!.ebignore
!.ebextensions
!.ebextensions/*
/code
/queue/*
!/queue/.gitkeep
/vendor
/web/*/
!/web/assets
!/web/assets/*
!/web/assets/**/*
!/web/api
!/web/api/*
!/web/api/**/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml