# Global bash functions for simpler cron jobs and maintenance of Mautic.

files:
  "/bin/composer":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo /opt/elasticbeanstalk/support/composer.phar $@

  "/bin/logs":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      tail -f /var/log/httpd/error_log $@