# Global bash functions for simpler cron jobs and maintenance.

files:
  "/bin/composer":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo /usr/bin/composer.phar $params

  "/bin/logs":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # logs - Tail common mautic/error logs for realtime debugging from within the environment.
      tail -f /var/log/httpd/error_log