# Global bash functions for simpler cron jobs and maintenance of Mautic.

files:
  "/bin/composer":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo php -d disable_functions=phpinfo,exec,system,passthru,shell_exec /opt/elasticbeanstalk/support/composer.phar $@

  "/bin/logs":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      tail -f /var/log/httpd/error_log /var/log/eb-activity.log $@

  "/bin/cron":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # cron    - Run a mautic cron console command on all ready pull requests.
      #
      # Example:
      #   * * * * * root cron mautic:emails:send
      for dir in /var/app/current/web/*
      do
        if [ -L ${dir} ]
        then
          # This file will not exist if the symlink is destroyed due to an invalid state.
          if [ -f "/var/app/current/web/${dir}/.patches/${dir}.patch" ]
          then
            cd /var/app/current/web/${dir}
            sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php ./app/console $@"
          fi
        fi
      done

  "/bin/console":
    mode: "0000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo -u $USER bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php app/console $@"