# Mailhog configuration.

files:
  "/etc/init.d/mailhog.service":
    mode: "000755"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/usr/bin/env bash
      /usr/local/bin/mailhog -ui-web-path /mail

  "/etc/httpd/conf.d/mailhog.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
      ProxyPreserveHost On
      ProxyRequests Off
      ProxyPass "/mail/api/v2/websocket" ws://localhost:8025/mail/api/v2/websocket
      ProxyPassReverse "/mail/api/v2/websocket" ws://localhost:8025/mail/api/v2/websocket
      ProxyPass /mail http://localhost:8025/mail
      ProxyPassReverse /mail http://localhost:8025/mail
      # Correction for 1.0.0 compatibility with https.
      <Location /mail/js/controllers.js>
          AddOutputFilterByType SUBSTITUTE text/javascript
          Substitute "s/ws/wss/ni"
      </Location>

  "/etc/php.d/z_mailhog.ini":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      ; Use mailhog for PHP Sendmail
      sendmail_path = "/usr/local/bin/mailhog sendmail test@example.org -ui-web-path /mail"

container_commands:
  40_go_install:
    command: |
      cd /tmp
      curl -O https://storage.googleapis.com/golang/go1.6.linux-amd64.tar.gz
      tar xvf go1.6.linux-amd64.tar.gz
      sudo mv /tmp/go /usr/local/bin
      sudo chown -R root:root /usr/local/bin/go
      sudo mkdir -p /work
      export GOPATH=/work
      export PATH=$PATH:/usr/local/go/bin:$GOPATH/bin
  41_mailhog_install:
    command: |
      cd /tmp
      wget https://github.com/mailhog/MailHog/releases/download/v0.2.1/MailHog_linux_amd64
      sudo cp MailHog_linux_amd64 /usr/local/bin/mailhog
      sudo chown -R root:root /usr/local/bin/mailhog
      sudo chmod +x /usr/local/bin/mailhog
  42_apache_restart:
    command: sudo /etc/init.d/httpd graceful
  43_mailhog_start:
    command: sudo nohup bash -c "/sbin/service mailhog.service restart"

