# Mailhog configuration.

files:
  "/etc/init.d/mailhog.service":
    mode: "000755"
    owner: root
    group: root
    encoding: plain
    content: |
      /usr/local/bin/mailhog -ui-web-path /mail

  "/etc/httpd/conf.d/mailhog.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
      ProxyPreserveHost On
      ProxyRequests Off
      ProxyPass "/api/v2/websocket" ws://localhost:8025/api/v2/websocket
      ProxyPassReverse "/api/v2/websocket" ws://localhost:8025/api/v2/websocket
      ProxyPass /mail http://localhost:8025/
      ProxyPassReverse /mail http://localhost:8025/

  "/etc/php.d/z_mailhog.ini":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      ; Use mailhog for PHP Sendmail
      sendmail_path = "/usr/local/bin/mailhog sendmail test@example.org -ui-web-path /mail"

container_commands:
  40_mailhog_start:
    command: bash scripts/mailhog-start.sh
    ignoreErrors: false

services:
  sysvinit:
    mailhog.service:
      enabled: true
      ensureRunning: true
      files : [/etc/init.d/mailhog.service]