# PHP configuration.

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /web
    memory_limit: 128M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "On"
    max_execution_time: 60

packages:
  yum:
    php71-imap: []

files:
  "/etc/php.d/z_mautibox.ini":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      ; Uploads up to 10MB
      post_max_size = 10M
      upload_max_filesize = 10M

      ; Session lifespan of 3 hours.
      session.gc_maxlifetime = 10800

      ; Required for composer
      allow_url_fopen="On"

      [opcache]
      opcache.enable = On
      opcache.enable_cli = On
      opcache.validate_timestamps = On
      opcache.revalidate_freq = 60
      opcache.memory_consumption = 256

      ; Cloudflare will timeout at 60 seconds, this limit will be automatically superceeded by Mautic as needed.
      max_execution_time = 60

      ; Intentionally tight memory limit
      memory_limit = 128M

      ; Disable functions that could be dangerous to this application in Elastic Beanstalk.
      disable_functions = phpinfo,exec,system,passthru,shell_exec,proc_open

      [apc]
      apc.enabled = On
      apc.enable_cli = On
      apc.shm_size = 64M

      ; Enable mailparse (absolutely last, removed from php.ini by installation step)
      extension=mailparse.so

container_commands:
  50_install_imap:
    test: '[ ! -f /usr/lib64/php/7.2/modules/imap.so ] && echo "imap is not installed"'
    command: sudo yum install php72-imap -y
  51_install_mailparse:
    test: '[ ! -f /usr/lib64/php/7.2/modules/mailparse.so ] && echo "mailparse is not installed"'
    command: |
      sudo pecl7 install --force mailparse
      sudo -u root bash -c "sed '/extension=\"mailparse.so\"/d' /etc/php.ini > /etc/php.ini"
  52_composer_prep:
    command: composer global require hirak/prestissimo