files:
  "/etc/httpd/conf.d/mautibox.conf":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      <VirtualHost *:80>
        ErrorLogFormat "%PULLe: [%t] [%l] [pid %P] %F: %E: [client %a] %M"
        #<Directory />
        #  AllowOverride All
        #  Options Indexes FollowSymLinks MultiViews
        #  Require all granted
        #</Directory>
      </VirtualHost>