# Ensure git is up to date

packages:
  yum:
    git: []
    curl-devel: []
    expat-devel: []
    gettext-devel: []
    openssl-devel: []
    zlib-devel: []
    gcc: []
    perl-ExtUtils-MakeMaker: []

container_commands:
  70_git_update:
  command: |
    cd /usr/src
    sudo wget https://www.kernel.org/pub/software/scm/git/git-2.19.2.tar.gz
    sudo tar xzf git-2.19.2.tar.gz
    cd git-2.19.2
    sudo make prefix=/usr/local/git all
    sudo make prefix=/usr/local/git install
    sudo cp /usr/local/git/bin/git /usr/bin/git