# IO needs
container_commands:
  # First create any missing folders/files.
  70_io_local_create:
    command: |
      mkdir -p code/data \
        code/pulls \
        code/stage

  70_io_local_permissions:
    command: |
      chown -R webapp:webapp .
      chgrp -R webapp code/data
      chmod -R u+rwX,go+rX,go-w .
      chmod -R ug+wx code/data