#AllowOverride All
Options +FollowSymLinks
ErrorDocument 404 /building.html
# ErrorDocument 500 /500.html
# ErrorDocument 503 /503.html
# ErrorDocument 504 /504.html

#<Directory />
#    Options FollowSymLinks
#    AllowOverride All
#    Order allow,deny
#    Allow from all
#</Directory>